@charset "UTF-8";
/* 
    Em HTML é id = em CSS é # (só pode 1 elemento)
    Em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(134, 250, 211);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(2, 34, 23)
}

h1#principal{
    text-align: center;
    background-color: rgba(27, 247, 7, 0.829);
    color: white;
}

h2 {
    color: rgb(20, 68, 52);
}

.basico{
    color: brown;
    font-weight: bolder;
}

.intermediario {
    color: blue;
    font-weight: bolder;
}

.avancado {
    color: blueviolet;
    font-weight: bolder;
}

.destaque {
    background-color: rgba(12, 12, 12, 0.562);
}